<style type="text/css">
    .MyForm {       width: 800px;    }
    .MyCol {        min-width: 100px;    }
    .Message{color:red;
             font-size:10px;
    }
</style>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{
    ViewBag.Title = "کمک نقدی آنلاین در موسسه امام جواد علیه السلام";
}
@model test1.Models.OnlinePaymentModel

<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectedCountryCombo").change(function () {          
            $.ajax({
                type: "POST",
                url: "ChangeState",
                data: { SelectedCountry: $("#SelectedCountryCombo option:selected").prop('value')},
                cache: false,
                success: function (data) {
                    var StateCombo=$("#SelectedStateCombo");
                    StateCombo.empty();
                    for (var x = 0; x < data.length; x++) {
                        StateCombo.append("<option value=" + data[x].value + ">" + data[x].text + "</option>");

                    var CityCombo = $("#SelectedCityCombo");
                    CityCombo.empty();
                    CityCombo.append("<option value=" + data[0].value + ">" + data[0].text + "</option>");
                    }
                },
                error: function () {
                    alert(" خطا در بارگذاری لیست استانها");
                }
            })
        }),
        $("#SelectedStateCombo").change(function () {
            $.ajax({
                type: "POST",
                url: "ChangeCity",
                data: { SelectedState: $("#SelectedStateCombo option:selected").prop('value') },
                cache: false,
                success: function (data) {
                    var CityCombo = $("#SelectedCityCombo");
                    CityCombo.empty();
                    for (var x = 0; x < data.length; x++) {
                        CityCombo.append("<option value=" + data[x].value + ">" + data[x].text + "</option>");
                    }
                },
                error: function () {
                    alert(" خطا در بارگذاری لیست شهرها");
                }
            })
        })
    })
</script>
<h2>@ViewBag.Title</h2><br>
<p>
    حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم
    توجه :بانک ملت واسطه پرداخت اینترنتی بین بانک شما و سایت ما می باشد .نیازی به داشتن حساب در بانک ملت نیست بلکه شما می توانید با کارت هر یک از بانکهای عضو شتاب و داشتن رمز دوم آن کارت مستقیما هر مبلغی را به حساب آسایشگاه پرداخت نمایید.کافیست پس از تکمیل فرم زیر بروی دکمه پرداخت آنلاین کلیک بفرمایید:
</p>
<br>

@using Microsoft.AspNet.Identity
@using (Html.BeginForm("OnlinePayment", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <center class="FormCover">
        <div class="MyForm">
            <p class="text-success">@ViewBag.Message</p>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new{ @class = "text-danger" })
            <div class="form-group">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Us_LName, new { @class = "MyCol" })
                    @Html.EditorFor(m => m.Us_LName)
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Us_Name, new { @class = "MyCol" })
                    @Html.EditorFor(m => m.Us_Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 form-group">
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Us_Phone, new { @class = "MyCol" })
                    @Html.EditorFor(m => m.Us_Phone)
                </div>
            </div>
            <div class="form-group">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Us_Email, new { @class = "MyCol" })
                        @Html.DisplayFor(m => m.Us_Email)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Us_Mob, new { @class = "MyCol" })
                        @Html.DisplayFor(m => m.Us_Mob)
                    </div>
                }
                else
                {
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Us_Email, new { @class = "MyCol" })
                        @Html.EditorFor(m => m.Us_Email)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Us_Mob, new { @class = "MyCol" })
                        @Html.EditorFor(m => m.Us_Mob)
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Us_WorkAddress, new { @class = "MyCol" })
                    @Html.TextAreaFor(m => m.Us_WorkAddress)
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Us_HomeAddress, new { @class = "MyCol" })
                    @Html.TextAreaFor(m => m.Us_HomeAddress)
                </div>
            </div>
            <div class="form-group">
                <div id="StateContainer" class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.SelectedState, new { @class = "MyCol" })
                    @Html.DropDownListFor(m => m.SelectedState, new SelectList(Model.States, "value", "text"), new { id = "SelectedStateCombo" })
                </div>            <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.SelectedCountry, new { @class = "MyCol" })
                    @Html.DropDownListFor(m => m.SelectedCountry, new SelectList(Model.Countries, "value", "text"), new { id="SelectedCountryCombo"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 form-group">
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.City_Ct_Id, new { @class = "MyCol" })
                    @Html.DropDownListFor(m => m.City_Ct_Id, new SelectList(Model.Cities, "value", "text"), new { id = "SelectedCityCombo" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-xs-6 form-group">
                </div>
                <div class="col-xs-6 form-group">
                    <input type="submit" value="پرداخت انلاین" class="btn btn-default" />
                </div>
            </div>
        </div>
    </center>
    <br/>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


